<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<li><h1>Id:</h1>' + userlist[i]._id + '</li>' + '<li><h1>COMPANY NAME:</h1>' + userlist[i].company_Name + '</li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>